#hi{
    height: 40%;
    width: 100%;

}
body{
    background-color: rgb(114, 110, 110);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: hi 0,5 timing-function delay iteration-count direction fill-mode;
overflow-x: hidden;
height: 110vh;
}

h1{
    color: white;
    position: absolute;
    bottom: 600px;
    z-index: 5;
    left: 75%;
   font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#h2o{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}



.email-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    position: fixed;
   z-index: 2;
   margin-left: 90%;
}
.email-button:hover {
    background-color: #0056b3;
}
#myBtn {
    position: fixed;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    z-index: 5;
   
}


#myBtn:hover {
    background-color: #0056b3;

}
#back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Make the image cover the entire container */
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
    border-radius: 5px;
}
h2{
    z-index: 3;
    position: absolute;
    top: 350px;
    left: 75%;
    color: #fff;
    font-size: 35px;
}
.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #adb9ca;
    width: 50vmax;
    z-index: 1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
    width: 300px;
    left: 16%;
    top: 19%;
  }
  
  @keyframes move {
    0%   { transform: scale(1.1)   translate(10px, -20px); }    
  }

  #ff{
    z-index: 5;
    position: absolute;
    width: 200px;
    top: 25%;
    border-radius: 50px;
    left: 20%;
  }